form {
    display: flex;
    flex-direction: column;
    width:50%;
    margin: 3rem auto;
    input {
        text-align: center;
    }

    button {
        background: transparent;
        margin-top: 1rem;
        border-color: white;
        input {
            background-color: transparent;
            border: none;
            color: white ;;

        }
    }
    button:active, button:hover {
        background-color:hsl(280, 77%, 41%);
        border-color: hsl(280, 77%, 41%);

    }
}

td {
    padding: 0 0.5rem; 
}


