@import '../../assets/global.scss';


#myTabContent {
    // border-left: 1px solid #dee2e6;
    // border-right: 1px solid #dee2e6;

}

.Rep {
    .under {
        text-decoration: underline;
        font-weight: bold;
    }
    .second {
        font-size: 0.7rem;
    }



    p {
        font-size:12px;
        strong {
            font-size:14px;

            font-family: $courier;
            font-weight: bold;
        }
    }
}

@media screen and (max-width: 768px) {
    #myTabContent {
        padding: 0 15px;
    }
    .address-form {
        width:80%
    }
}

@media screen and (max-width: 576px) {
    #myTabContent {
        padding: 0 15px;
    }
    .address-form {
        width:90%;
    }
}

td {
    padding: 0 0.5rem; 
}

.website-button {
    color: white;
}
.twitter-button {
    background-color: #1DA1F2;
    color: white;
}

.facebook-button {
    background-color: #4267B2;
    color:white;
}

.youtube-button {
    background-color: #FF0000;
    color:white
}