@import '../../assets/global.scss';


.Reps {
    min-height: 100vh;
        h1 {
        font-family: $courier;
        font-weight: bold;
    }

    .reps-intro {
        padding: 0 8%;
        text-align: left;
        p {
            font-size: 0.8rem;
            margin-bottom:0.5rem;


        }
    }


}

    .reps-container {
        padding-top:10%;
        .nav-item {
            font-size: 14px;
        }
    }