@import '../../assets/global.scss';


.Reps {
    min-height: 100vh;
        h1 {
        font-family: $courier;
        font-weight: bold;
    }

    .reps-intro {
        padding: 0 8%;
        text-align: left;
        p {
            font-size: 0.8rem;
            margin-bottom:0.5rem;


        }
    }


}

    .reps-container {
        padding-top:10%;
        .nav-item {
            font-size: 14px;
        }
    }


@media screen and (min-width: 576px) {
    .reps-container-done {
        position: fixed;
        top:0; 
    }
}

@media screen and (max-width: 576px) {
    .reps-container-done {
        padding-top: 1%;
        .Rep {
            margin-top:10px !important
        }
    }
}

    /* once a rep has been selected */
    // .Reps-loaded {
    //     justify-content: flex-end;
    //     .reps-container-done {
    //         position: fixed;
    
    
    //     }
    // }
