@import '../../assets/global.scss';


.Reps {
    min-height: 100vh;
        h1 {
        font-family: $courier;
        font-weight: bold;
    }

    .reps-intro {
        padding: 0 8%;
    }

    .rep-container {
        
        display:flex;
        flex-direction: column;
        justify-content: center;

        .nav-item {
            font-size: 14px;
        }
    }
}