.SplashImage{

    h1 {
        font-size: 4rem;
        padding-top: 3rem;
        font-family: 'Courier New', Courier, monospace;

    }
    h2 {
        font-size: 2rem;
    }

    min-height: 100vh;
    min-width: 100%;
    background:  url('/assets/congress.jpg') hsla(280, 77%, 41%, 0.8);
    background-position: center;
    background-blend-mode: multiply;

    display: flex;
    flex-direction: column;
    justify-content: center;
    

    .SplashImage {
        min-height: 75vh;
        min-width: 100%;
    }

    .splash-button-wrapper {
        margin: 0 auto;

        max-width: 40%;
    }

    

    
}