

@import '../../../../assets/global.scss';


.BlockThree {
    background-color: $black;
    color:white;

    .BlockThreeText {
    padding-top:10%;


    h2 {
        font-family: $courier;
    }
    
    li {
        align-self: left;
    }
    }
}