

@import '../../../../assets/global.scss';


.BlockThree {
    background-color: $red;
    color:white;

    .BlockThreeText {
    text-align: center;



        input {
            background-color: transparent;
            background-color: $blue;
            border: none;
            color: white ;
            transition: 0.5s;
            font-family:$sans;
            border-color: rgba(255,255,255, 0.6);

        }


    h2 {
        font-size: 2.5rem;
        font-family: $courier;
    }
    
    li {
        align-self: left;
    }
    }
}