@import '../../../../assets/global.scss';


.BlockOne {
    background-color: $black;
    font-family: $courier;
    .row {
        .col {
            color:white;
        }
        .colOne {
            padding-top:0;
            padding-right:0;
        }
    }
    .colTwo {
        padding-left:15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .for-centering {
            width:100%;
            h2 {
                font-size: 2.5rem;
                margin-bottom: 0;
            }
     
        }
    }
}





@media screen and (max-width: 576px) {
    .BlockOne{
        .colOne {

            .content-col {
                display: none;
            }
        }
        .colTwo {
            padding-top:3rem;
    
            h2 {
                padding-left: 0px;
            }
            div {
                padding-left: 0px;
            }
    
            .for-centering {
                padding-left:15px;
                padding-right:2px;
                p {
                    max-width: 100%;
                }
            }
    
        }
    }
   
}

@media screen and (max-width: 360px) {
    .colTwo {
        .for-centering{
            padding-left: 10px;
            padding-right: 10px;
        }
        .btn-primary {

        }
    }

}