@import '../../../../assets/global.scss';


.BlockOne {
    background-color: $black;
    font-family: $courier;
    .row {
        .col {
            color:white;
        }
        .colOne {
            padding-top:0;
            padding-right:0;
        }
    }

    h5 {
        // font-family: $courier;
        margin-bottom: 0;
    }
    ul {
        padding-left:0;
        list-style: none;
        li {
            font-family: $sans;
        }
    }


    .colTwo {
        padding-left:15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .for-centering {
            width:100%;
        }
    }
}



@media screen and (max-width: 576px) {
    .colOne {

        .content-col {
            display: none;
        }
    }
    .colTwo {
        padding-top:3rem;

        h2 {
            padding-left: 0px;
        }
        div {
            padding-left: 0px;
        }

        .for-centering {
            padding-left:15px;
            padding-right:2px;
        }

    }
}

@media screen and (max-width: 360px) {
    .colTwo {
        .for-centering{
            padding-left: 10px;
            padding-right: 10px;
        }
        .btn-primary {

        }
    }

}