$lightpurp: rgb(152,158,199);
$blue: rgb(95,138,232);
$green: rgb(63,73,65);
$darkpurp: rgb(95,103,145);
$black: rgb(7,11,23);
$red: #5E0B15;    
$courier: 'Courier New', Courier, monospace !important;
$sans: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";


.BlockOne {
    background-color: $black;
    font-family: $courier;

    .row {

        .col {
            color:white;
        }
        .colOne {
            padding-top:0;
            padding-right:0;
        }
    }

    h5 {
        // font-family: $courier;
        margin-bottom: 0;
    }
    ul {
        padding-left:0;
        list-style: none;
        li {
            font-family: $sans;
        }
    }


    .colTwo {
        padding-left:0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}