
@import '../../../../assets/global.scss';

.BlockTwo {

    // background: url(../../../../assets/voting_booths.jpeg) rgba(7,11,23, 0.7);
    // background-repeat: no-repeat;
    // background-size: cover;
    // background-blend-mode: multiply;
    background-color: $blue;
    color:white;

    .BlockTwoTextCol {
        text-align: center;
        font-family: "Courier New", Courier, monospace !important;

        h2 {
            font-size: 2.5rem;
        }
    }
}